body{
    background-image: radial-gradient(rgb(27, 160, 221), rgb(167, 38, 226), rgb(226, 45, 187));
}
h1{
  font-family: 'Quicksand', sans-serif;
}
h3{
    font-family: 'Quicksand', sans-serif;
}

#number1{
    font-family: 'Quicksand', sans-serif;
}
#number2{
    font-family: 'Quicksand', sans-serif;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px;
    padding: 10px;
    float: none;
    text-align: center;
}